table {width: 100%;}
body {text-align: center;}

#cabecalho {background-color: #FFD5AE;}
#compras {background-color: #FFB168; height: 15vh;}

.imgs { margin-left: 5%;
margin-right: 5%;}

#r {background-color: #FFB168;}